/*  your css code here. If applicable */
#inner{
	height: 100px;
	width: 100px;
	background-color: #800080;
	border: 25px solid #0000ff;
	border-radius: 50%;
	margin: 25px;
}
#middle{
	height: 200px;
	width: 200px;
	background-color: #008000;
	border: 25px solid #ffff00;
	border-radius: 50%;
	margin: 25px;
}
#outer{
	width: 300px;
	height: 300px;
	background-color: #ffa500;
	border: 25px solid #ff0000;
	border-radius: 50%;
}
